# Python cache
__pycache__/
*.pyc

# Virtual env & secrets
.env
.venv/
venv/

# VS Code
.vscode/
.vscode-upload.json

# ML models
*.pkl
*.joblib

# Temp files
tempCodeRunnerFile.py

# OS
.DS_Store
Thumbs.db
